/* resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* ********* */

body {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
}

main {
    border: 3px solid green;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr max-content;
}

article {
    border: 3px solid violet;
    background-color: rgba(97, 64, 104, 0.5);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

aside {
    border: 3px solid orange;
    background-color: rgba(74, 114, 22, 0.5);
    width: max-content;
    display: grid;
    grid-template-areas: 'stack';
    overflow: scroll;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

header {
    border: 3px solid navy;
    background-color: rgba(22, 47, 114, 0.5);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

footer {
    border: 3px solid brown;
    background-color: rgba(114, 91, 22, 0.5);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

form {
    grid-row: 1;
    grid-column: 1;
    width: max-content;
    z-index: 100;
    background-color: #aaa;
}

.day {
    border: 1px solid red;
    background-color: rgba(137, 43, 226, 0.5);
}
